/* General styling */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #363636;
  color: #fff;
  padding: 20px;
}

.hCenter {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}


.hLeft, .hRight {
display: flex;
flex-direction: column;
}

.hRight {
  margin-left: 200px;
}


#hLtext {
  font-size: x-large;
}


#start-game-btn {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}
#start-game-btn:hover {
  background-color: #68766f;
}

/* Main section */
.main {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.mainL,
.mainR {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

button.pChoice,
.cChoice {
  background-color: #000;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
}

button#Earth.pChoice:hover {
  background-color: #3e8e41;
}

button#Wind.pChoice:hover {
  background-color: #ebe7d7;
}

button#Fire.pChoice:hover {
  background-color: #b1151d;
}

button.pChoice:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mainC {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.gameScrn {
  display: flex;
  flex-direction: column;
  flex: 6;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f4f4f4;
}

.score {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 30px;
  padding: 20px;
}

.gameLog {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.gameLogT,
.gameLogB {
  display: flex;
  flex: 1;
  font-size: 25px;
  font-weight: 400;
  padding: 20px;
}

.gameLogT {
  justify-content: space-between;
}

.gameLogB {
  justify-content: center;
}

/* Footer section */
.footer {
  display: flex;
  background-color: #363636;
  color: #fff;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8rem;
  font-weight: 600;
}



.score-update {
  font-size: 1.5em;
  color: green;
  transition: font-size 0.5s, color 0.5s;
}

.win-indicator {
  font-size: 1.5em;
  color: green;
  transition: font-size 0.5s, color 0.5s;
}

/*shamelessly stolen from google*/

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2.0);
  }
  100% {
    transform: scale(1);
  }
}

#soundTog {
  animation: pulse 2s infinite;
  transition: transform 0.5s;
  background-color: #87f28b;
  margin-right: 25px;
}
#soundTog:hover {
  background-color: #363636;
}


.winDisplay {
  
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}