/* General styling */
html,
body {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363636;
  color: #fff;
  padding: 20px;
}

.hCenter {
  font-size: 2rem;
  font-weight: 600;
}

/* Main section */
.main {
  display: flex;
  flex-basis: 4;
}

.mainL {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

.mainR {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

button.pChoice,
.cChoice {
  background-color: #000;
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
}

button#Earth.pChoice:hover {
  background-color: #3e8e41;
}

button#Wind.pChoice:hover {
  background-color: #ebe7d7;
}

button#Fire.pChoice:hover {
  background-color: #b1151d;
}

button.pChoice:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mainC {
  display: flex;
  flex: 3;
  flex-direction: column;
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.gameScrn {
  display: flex;
  flex: 6;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f4f4f4;
}

.gameLog {
  display: flex;
  flex: 1;
  border-radius: 10px;
  background-color: #f4f4f4;
}

/* Footer section */
.footer {
  display: flex;
  background-color: #363636;
  color: #fff;
  padding: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.8rem;
  font-weight: 600;
}





