html, body {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(151, 159, 197);
    color: white;
    padding: 20px;
  }

  .hLeft{
    flex: 1;
    align-self: flex-start;
    justify-self: flex-start;
  }

  .hRight {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-self: flex-start;
  }

  .hCenter {
    flex: 2;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  

  .main {
    display: flex;
    flex-basis: 4;
    background-color: blue;
    flex: 8;
}

    .mainL {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


        button.pChoice, .cChoice {
            background-color: rgb(93, 92, 93);
            padding: 15px 25px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            background-color: aliceblue;
            outline: none;
            color: #fff;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
            margin: 20px;
        
        }

        button#Earth.pChoice:hover {background-color: #3e8e41}
        button#Wind.pChoice:hover {background-color: #ebe7d7}
        button#Fire.pChoice:hover {background-color: #b1151d}

        button.pChoice:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        }




       
    .mainC {
        display: flex;
        flex: 3;
        flex-direction: column;
        margin: 20px;
    }


        .gameScrn {
            display: flex;
            flex: 6;
            border: 5px solid whitesmoke;
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: rgb(151, 159, 197);
        }

        .gameLog {
            display: flex;
            flex: 1;
            border: 5px solid whitesmoke;
            border-radius: 5px;
            background-color: rgb(151, 159, 197);
        }




    .mainR {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }




  .footer {
    display: flex;
    flex: 1;
    background-color: rgb(151, 159, 197);
    color: white;
    padding: 20px;
    justify-content: flex-end;
    align-items: flex-end;
  }




